@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --colors-light: #ffffff;
  --colors-almostlight: #F6F6F6;
  --colors-lightergray: #ECECEC;
  --colors-lightgray: #e0e0e0;
  --colors-gray: #bbbbbb;
  --colors-darkgray: #858585;
  --colors-darkergray: #666666;
  --colors-dark: #333333;
  --colors-darker: #222222;
  --colors-darkest: #111111;
  --colors-blue: #0C76B5;
  --colors-green: #9DBD34;
  --colors-yellow: #FEBA13;

  --font-primary: "Poppins", sans-serif;

  --text-dark: var(--colors-dark);
  --text-gray: var(--colors-darkgray);
  --text-light: var(--colors-light);

  --navbar-bg: var(--colors-lightergray);
  --navbar-dark-bg: var(--colors-darkergray);
  --navbar-active: var(--colors-blue);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-primary);
  color: var(--colors-dark);
}

.dark body, .dark h1, .dark h2, .dark h3, .dark h4, .dark span{
  color: var(--colors-almostlight);
}

h1, h2, h3, h4, span {
  color: var(--colors-darker);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;;
}

.alert {
  display: flex;
  align-items: center;
  background: #1a1a1a;
  color: var(--colors-almostlight);
  padding: 0.6em 1.2em;
  position: relative;
  border-radius: 8px;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--colors-almostlight);
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--colors-almostlight);
  cursor: pointer;
  transition: border-color 0.25s;
  
}

.dark input{
  background: var(--navbar-dark-bg);
}
.dark ul{
  background: var(--navbar-dark-bg);

  li {
    border-color: var(--colors-darkgray);
  }
}

div {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: var(--colors-darkergray);
}

table {
  border-radius: 8px;
  border: 1px solid transparent;
  background: var(--colors-almostlight);  
}



.card {
  padding: 2em;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
